* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.header {
    color: blue;
    font-weight: bold;
    background-color: white;
    height: 45px;
    border: 1px solid #ccc;
    font-size: 30px;

    width: 100vw;
    box-sizing: border-box;
    display: block; 
    margin: 0; 
    /* padding: 0; */
}

.center {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0 auto;
}

form label {
    color: black;
}

form input {
    color: black;
    display: block;
    margin-bottom: 10px; /* Add space between fields */
}

#timePicker {
    display: flex;
    gap: 10px; /* Space between the dropdowns */
    align-items: center; /* Aligns items vertically */
}

select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* grid container for Event Page */
.eventGrid {
    color: black;
    height: 100vh;
    border: 2px solid red;
    display: grid; 
    background-color: white; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.3fr 2.49fr 0.31fr; /* size of rows in grid (we have 3 rows right now) */
    gap: 0px 0px; 
    grid-template-areas: 
        "auto_create"
        "i1"
        "copy_link"; 
}
.i1 {
    grid-area: i1; /* Assign grid area */
    border: 2px solid blue;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 2px 2px; 
    grid-template-areas: 
    "calendar user_list"
    "calendar preferences"; 
    }
    .calendar { grid-area: calendar; }
    .user_list { grid-area: user_list; }
    .preferences { grid-area: preferences; }
    .copy_link { grid-area: copy_link; }
    .auto_create { grid-area: auto_create; }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
}