mp_row = {
    2: 1,
    3: 3,
    5: 1
}

mp_col = {
    3: 3,
}


if len(mp_row) > len(mp_col):
    dic1 = mp_col
    dic2 = mp_row
else:
    dic1 = mp_row
    dic2 = mp_col

count = 0
for k, v in dic1.items():
    if v > 3 and dic2[k] > 3:
        count += 1