* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
    /* overflow: hidden; */
}

.react-datepicker-input {
    color: black;
    background-color: transparent; /* Optional: make the background transparent */
    border: 1px solid white; /* Optional: to match white styling */
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    min-width: 300px;
}

.react-datepicker-input::placeholder {
    color: lightgray; /* Placeholder color */
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
    display: block;
    width: fit-content;
}

.header {
    color: blue;
    font-weight: bold;
    background-color: white;
    height: 45px;
    border: 1px solid #ccc;
    font-size: 30px;

    width: 100vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 10px; 
    /* margin: 0;  */
    /* padding: 0; */
}

.center {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0 auto;
    padding: 80px;
    --button-hover: #383838;
}

form {
    display: flex;
    flex-direction: column; /* Stack form groups vertically */
    gap: 15x; /* Adds spacing between form groups */
}

form .form-group {
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
}

form label {
    color: black;
    text-align: center;
    flex-direction: column; /* Stack label and input vertically */
}

form input {
    color: black;
    background-color: white;
    
    height: 30px;
    /* width: 180px; */
    font-size: 15px;
    margin-top: 5px;
    
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Rounded corners */
}

form button {
    margin-top: 15px;
    color: black;
    background-color: white;
    font-size: 20px;
    display: center;
    position: bottom;
    right: 47.5%;
    border: 1px solid black;
    border-radius: 5px;
}

#timePicker {
    display: flex;
    gap: 10px; /* Space between the dropdowns */
    align-items: center; /* Aligns items vertically */
}

select {
    color: black;
    background-color: white;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* grid container for Event Page */
.eventGrid {
    color: black;
    height: 100vh;
    border: 2px solid red;
    display: grid; 
    background-color: white; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.3fr 2.49fr 0.31fr; /* size of rows in grid (we have 3 rows right now) */
    gap: 0px 0px; 
    grid-template-areas: 
        "auto_create"
        "i1"
        "copy_link"; 
}
.i1 {
    grid-area: i1; /* Assign grid area */
    border: 2px solid blue;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 2px 2px; 
    grid-template-areas: 
    "calendar user_list"
    "calendar preferences"; 
    }
    .calendar { grid-area: calendar; }
    .user_list { grid-area: user_list; }
    .preferences { grid-area: preferences; }
    .copy_link { grid-area: copy_link; }
    .auto_create { grid-area: auto_create; }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
}